@using ProjectForum.Models;
@model ForumPost
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

<div class="postContainer">
    <hr />
    <div class="postUpperPart">
        <div class="forumPost-user">@Model.Owner.DisplayName<i class="fa-solid fa-circle"></i></div>
        <div class="dateCreated">@Model.DateCreated.ToString("dd-MM-yyyy")</div>
    </div>
    <div class="forumPost-title">@Model.Title</div>
    <div class="forumPost-content">@Model.Content</div>
    <div class="post-functions-wrapper">
        <div class="rating-wrapper mr-2">
            <i class="fa-solid fa-circle-arrow-up"></i>
            <span class="rating-number">@Model.Rating</span>
            <i class="fa-solid fa-circle-arrow-down"></i>
        </div>
        <div class="comment-buttom-wrapper">
            <a href="/post/comments?uid=@Model.Uid"><i class="fa-regular fa-comment mr-1"></i><span class="comment-count">@Model.Comments.ToList().Count</span></a>
        </div>
    </div>
</div>
<div class=comments-container>
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        <form action="/Post/AddComment" method="post">
            <div class="form-group">
            <textarea class="form-control" name="content" rows="3"></textarea>
            </div>
            <input type="hidden" name="ownerID" value=@user.Id>
            <input type="hidden" name="postID" value=@Model.Uid>
            <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
        </form>
    }
    @foreach(var comment in Model.Comments)
    {
        <hr />
        <div class="poster">@comment.Owner.DisplayName</div>
        <div class="comment-body">@comment.Content</div>
    }
</div>
