@using ProjectForum.Models
@model IEnumerable<Comment>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

@foreach (var comment in Model.GroupBy(t => t.DateCreated).OrderBy(t => t.Key))
{
    @foreach (var item in comment)
    {
        <hr />
        <div class="postUpperPart">
            <div class="forumPost-user">@item.Owner.DisplayName<i class="fa-solid fa-circle"></i></div>
            <div class="dateCreated">@item.DateCreated.ToString("dd-MM-yyyy")</div>
        </div>
        <div class="comment-body">
            @item.Content
        </div>
        <div class="ml-3">
            @{
                var list = Model.Where(t => t.ParentId.Equals(item.Uid));
                if (list.Any())
                {
                    <p>REPLIES</p>
                    @foreach (var reply in list)
                    {
                        <div class="mb-2">
                            @reply.Owner.DisplayName
                            @reply.Content
                        </div>

                    }
                }
            }   
        </div>

    }
}




